@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.ecu-text-input {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
}

.ecu-contextual-information {
  z-index: 999999;
  color: white;
  font-size: 12px;
  background-color: lightblue;
  user-select: none;
}

.ecu-contextual-information-is-edited {
  background-color: purple;
}

.ecu-contextual-information-is-component-root {
  background-color: gold;
}
