.ecu-selected-root {
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  margin-left: -1;
  margin-right: -1;

  &:first-of-type {
    border-top: 1px solid gold;
    margin-top: -1;
  }

  &:last-of-type {
    border-bottom: 1px solid gold;
    margin-bottom: -1;
  }

  .ecu-selected-root {
    border: none;
  }
}

.ecu-selected {
  outline: 1px solid lightblue;
}

.ecu-drag {
  opacity: 0.5;
}

.ecu-drop {
  outline: 1px solid deepskyblue;
}
