.ecu-selected-root {
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  margin-left: -1px;
  margin-right: -1px;
}

.ecu-selected-root-first {
  border-top: 1px solid gold;
  margin-top: -1px;
}

.ecu-selected-root-last {
  border-bottom: 1px solid gold;
  margin-bottom: -1px;
}

.ecu-selected {
  outline: 1px solid var(--color-primary);
}

.ecu-drag {
  opacity: 0.5;
}

.ecu-drop {
  outline: 1px solid deepskyblue;
}

.ecu-edited {
  outline: 1px solid darkorchid;
}
