:root {
  --color-2Eg6KU26p: #ffffff; /* Color 1 */
  --spacing-xsmall: 4px; /* xsmall */
  --spacing-xxxsmall: 1px; /* xxxsmall */
  --spacing-medium: 16px; /* medium */
  --spacing-xxxlarge: 96px; /* xxxlarge */
  --spacing-xxsmall: 2px; /* xxsmall */
  --spacing-small: 8px; /* small */
  --spacing-large: 24px; /* large */
  --spacing-xxlarge: 64px; /* xxlarge */
  --spacing-9qjQOEqyE: 128px; /* Spacing 10 */
  --spacing-xxxsmall: 1px; /* xxxsmall */
  --spacing-xxsmall: 2px; /* xxsmall */
  --spacing-xsmall: 4px; /* xsmall */
  --spacing-small: 8px; /* small */
  --spacing-medium: 16px; /* medium */
  --spacing-large: 24px; /* large */
  --spacing-xlarge: 32px; /* xlarge */
  --spacing-xxlarge: 64px; /* xxlarge */
  --spacing-xxxlarge: 96px; /* xxxlarge */
  --spacing-9qjQOEqyE: 128px; /* Jumbo */
}

html {
  font-size: 16px;
  font-family: sans-serif;
  /* You should not modify the following */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

/* You should not modify the following */
*, *:before, *:after {
  box-sizing: inherit;
}
