@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

:root {
  --spacing-xxxsmall: 1px; /* xxxsmall */
  --spacing-xxsmall: 2px; /* xxsmall */
  --spacing-xsmall: 4px; /* xsmall */
  --spacing-small: 8px; /* small */
  --spacing-medium: 16px; /* medium */
  --spacing-large: 24px; /* large */
  --spacing-xlarge: 32px; /* xlarge */
  --spacing-xxlarge: 64px; /* xxlarge */
  --spacing-xxxlarge: 96px; /* xxxlarge */
  --spacing-9qjQOEqyE: 128px; /* Jumbo */
  --color-2Eg6KU26p: #b92424; /* Color 1 */
}

html {
  font-size: 16px;
  font-family: sans-serif;
  /* You should not modify the following */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

/* You should not modify the following */
*, *:before, *:after {
  box-sizing: inherit;
}


.foo {
  font-family: "Lobster Two", sans-serif;
  flex-direction: column;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .foo {
  }
}

@media screen and (max-width: 991px) {
  .foo {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .foo {
  }
}

@media screen and (max-width: 478px) {
  .foo {
  }
}

.bar {
}

@media screen and (min-width: 1280px) {
  .bar {
  }
}

@media screen and (max-width: 991px) {
  .bar {
  }
}

@media screen and (max-width: 767px) {
  .bar {
  }
}

@media screen and (max-width: 478px) {
  .bar {
  }
}
